<!-- <app-note></app-note> -->
<section class="noteapp">
  <div class="container">
    <header class="header">
      <nav class="navbar navbar-light bg-light justify-content-between border">
        <a class="navbar-brand" routerLink="/">Заметки</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-success round" routerLink="/setup"><i class="fas fa-cog"></i></a>
      </nav>

      <!-- <div class="card bg-light new-card">
        <form (ngSubmit)="submitForm(form)" #form="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" id="title" placeholder="Что запишем?" autofocus="" [(ngModel)]="title">
          </div>
          <div class="form-group">
            <label for="text">Text</label>
            <textarea class="form-control" name="text" id="text" rows="3" [(ngModel)]="text"></textarea>
          </div>
          <div class="form-group">
            <label for="file">Example file input</label>
            <input type="file" class="form-control-file" id="file" >
          </div>
          <button type="button" class="btn btn-success" (click)="addNote()">Add a note!</button>
        </form>
      </div> -->
    </header>


<router-outlet></router-outlet>
<!-- <section class="main" *ngIf="notes.length > 0"> 
  <div class="card note-card text-white bg-secondary" *ngFor="let note of notes | async" >
    <div class="card-header">
      <h2>{{note.title}}</h2>
    </div>
    <div class="card-body">
      <textarea class="form-control" name="textnote" rows="3">{{note.text}}</textarea>
      <p class="card-text"><small class="text-white italic">Comments</small></p>
      <p class="card-footer">
      </p>
      <div class="d-flex">
        <button type="button" class="btn btn-success mr-auto p-2">New comment</button>
        <button type="button" class="btn btn-dark p-2 edit" (click)="addNote(note)">Edit note</button>
        <button type="button" class="btn btn-dark p-2 destroy" (click)="removeNote(note)">Delete note</button>
      </div>
    </div>
  </div>
</section> -->

  <!-- <footer class="bg-light border" *ngIf="notes.length > 0">
    <span class="note-count">Всего заметок: <strong>{{notes.length}}</strong></span>
  </footer> -->
  </div>
</section>

